@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Prata&family=Roboto&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}


body{
    background-color: #333333;
    color: #e4e4e4;
    padding: 20px 5vw;
}

.container{
    margin: 5vh 0;

}
.topic{
    font-size: 3vh;
    margin-bottom: 2vh;
}
.topic hr{
    width: 15vh;
    height: 3px;
    background-color: #e4e4e4;
    border-radius: 20px;
}



.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 9px;
    height: 60vh;
  }
  
  .big-card {
    background-color: #FFC107;
    flex: 50%;
    border-radius: 20px ;
    position: relative;

  }
  .big-card:before,.small-card:before, .carousel-card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7));
    border-radius: 20px;
  }

  .card-content {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 20px;
    color: #fff;
  }
  
  .card-title {
    font-size: 2rem;
    margin-bottom: 10px;
  }
  
  .card-description {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }
  
  .card-author {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
  }
  
  .card-author img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .card-author-name {
    font-weight: bold;
    margin-right: 10px;
  }
  
  .card-publish-date {
    font-style: italic;
  }
  

  .small-cards {
    flex: 49%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 9px;
    grid-row-gap: 9px;

    
  }
  
  .small-card {
    background-color: #03A9F4;
    border-radius: 15px;
    position: relative;
  }

  
  .small-card .card-content {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
    color: #fff;
  }
  
  .small-card .card-title {
    font-size: .9rem;
    margin-bottom: 5px;
  }
  
  .small-card .card-description {
    font-size: .7rem;
    margin-bottom: 5px;
  }
  
  .small-card .card-author {
    display: flex;
    align-items: center;
    font-size: .7rem;
  }
  
  .small-card .card-author img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 5px;
  }
  
  .small-card .card-author-name {
    font-weight: bold;
    margin-right: 5px;
  }
  

  




  /**************************Carousel*************************/
  .carousel-cards{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 9px;
        grid-row-gap: 9px;
        
  }

  .carousel-card {
    background-color: #03A9F4;
    border-radius: 15px;
    min-width: 23vw;
    height: 12rem;
    position: relative;    
    flex: 1;
  }

  
  .carousel-card .card-content {
    position: absolute;
    padding: 10px;
    color: #fff;
  }
  
  .carousel-card .card-title {
    font-size: .9rem;
    margin-bottom: 5px;
  }
  
  .carousel-card .card-description {
    font-size: .7rem;
    margin-bottom: 5px;
  }
  
  .carousel-card .card-author {
    display: flex;
    align-items: center;
    font-size: .7rem;
  }
  
  .carousel-card .card-author img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 5px;
  }
  
  .carousel-card .card-author-name {
    font-weight: bold;
    margin-right: 5px;
  }



